<!-- 
{% extends 'bootstrap/base.html' %}

{% block title %}home{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">NDVIマップ</a>
      </div>
    </div>
</nav>
<div class="container-fluid img-hidden">
    <img src="image/a.jpg" class="img-fulied">
</div>
  


<footer class="footer"></footer>
{% endblock %} -->